
/* timer styling */
.timer-box {
  position: absolute;
  top: 15px;
  right: 0;
  width: 200px;
  height: 100px;
  color: rgb(128, 45, 128);
  text-align: center;
}

/* start button styling */
.button-centered {
  margin: auto;
  text-align: center;
  border-radius: 15px;
  border-color: purple;
  border-width: 200px;
  padding: 10px;
  
}

/* intro styling */
.intro-center {
  text-align: center;
}

/* question styling */
.title-centered {
  text-align: center;
}

/* multiple choice buttons styling */
button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-color: purple;
  background-color: purple;
  color: white;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: aqua;
  color: purple;
}

li {
  list-style-type: none;
}

.choice-box {
  margin-left: 440px;
}

/* score styling */
.youScored-center {
  text-align: center;
}